<div class="container-fluid">
  <% @services.each do |service| %>
    <div class="card-category">
      <%= service.category %>
    </div>
  <% end %>
</div>
<% @services.each do |service| %>
  <%= service.description %>
<% end %>

<%= simple_form_for(@job_listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-row">
    <div class="col-md-12">
      <%= f.input :title, placeholder: "Title", label: false  %>
    </div>
    <div class="form-inputs">
      <%= f.input :address, placeholder: "Listing address", label: false  %>
    </div>
    <div class="col-md-6">
      <%= f.input :description, placeholder: "Description", label: false  %>
    </div>
    <div class="col-md-4">
      <%= f.association :job_listing_categories, collection: Service.formatted_selection, as: :check_boxes, placeholder: "Description", label: false  %>
    </div>
  </div>
  <div class="form-inputs text-left">
    <p><strong>Add Photos</strong></p>
    <%#= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
  </div>
  <div class="form-action d-lg-flex d-block">
    <div class="form-actions w-100">
      <%= f.button :submit, class: 'btn-mobike'%>
      <div>
        <%= link_to "Go back", root_path, class: 'btn btn-mobike'%>
      </div>
    </div>
  </div>
<% end %>
