<div class="service-card-container">
    <div style="background-image: url('<%= asset_path "service1.jpeg" %>')" class="carousel-service-card inner-service-card card-active" data-title="<%= @services[0].category %>" data-description="<%= @services[0].description %>">
    <%= @services[0].category %>
  </div>
  <% @services[1..5].each_with_index do |service, index| %>
    <div style="background-image: url('<%= asset_path "service#{index + 2}.jpg" %>')" class="carousel-service-card inner-service-card" data-title="<%= service.category %>" data-description="<%= service.description %>">
      <%= service.category %>
    </div>
  <% end %>
</div>

<div class="service-banner">
  <h1 id="banner-title">Negotiations</h1>
    <br>
  <p id="banner-description">

  </p>

  <%= link_to "Get Quotes", "#job-listing-form", class: "btn btn-warning" %>
</div>




<div class="container form" id="job-listing-form" style="margin-bottom: 70px;">

  <div class="row">

    <div class="col-md-9 mx-auto">

      <h2 style="margin-bottom: 5px; text-align: center;">Create a job listing for qualified agents to bid on</h2>
      <br>

        <%= simple_form_for(@job_listing) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-row">
            <div class="col-md-12">
              <%= f.input :title, placeholder: "Job listing title", label: false  %>
            </div>
            <div class="col-md-12 form-inputs">
              <%= f.input :address, placeholder: "Listing address", label: false  %>
            </div>
            <div class="col-md-12">
              <%= f.input :description, placeholder: "Description of your project needs", label: false  %>
            </div>
            <div class="col-md-12" style="display: inline-flex;">
              <%= f.association :job_listing_categories, collection: Service.formatted_selection, as: :check_boxes, placeholder: "Description", label: false  %>
            </div>
          </div>
          <div class="form-inputs">
            <p><strong>Add photos of your home</strong></p>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
          </div>
          <div class="form-action d-lg-flex d-block">
            <div class="form-actions w-100">
              <%= f.button :submit, class: 'btn btn-warning'%>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
