<%#= link_to job_listings_path(job_listing), class: "Card" do %>

<div class="jobcard px-0 mx-4">

    <div class="d-flex card-product">
      <% if job_listing.photos.attached? %>
        <%= cl_image_tag job_listing.photos[0].key %>
      <% end %>

      <div class="d-flex flex-column col-sm-12">
          <h2 style="margin-bottom: 16px;"><%= job_listing.address %></h2>
              <p class="p-2" style=" width: 100%; height: 80px; border: 1px solid black; border-radius: 3px; overflow: scroll;"><%= job_listing.description %></p>
          <!-- <p>created : <%= job_listing.created_at %>   last update:<%= job_listing.updated_at %></p> -->
      </div>

        <div class="form-actions w-100 col-sm-1 add-padding">
          <% @job_listings.each do |job| %>
            <% if job.offers.empty? %>
              <%= link_to "Edit", edit_job_listing_path(job), class: "btn btn-primary"%>
              <%= link_to "Delete", job_listing_path(job), class: "btn btn-warning", method: :delete, data: { confirm: "Are you sure you want to delete this listing?" }%>
            <% end %>
              <% job.offers.each do |offer| %>
                <h5><%= offer.price %></h5>
                    <p><%= offer.agent.company_name %></p>
                  <p><%= offer.status %></p>
                <% if offer.status == 'pending' %>
                  <%= link_to "accept", accept_offer_path(offer), method: "patch", style: 'color: black'  %>
                  <%= link_to "reject", reject_offer_path(offer), method: "patch", style: 'color: black'  %>
                <% end %>
                  <% if offer.status != 'pending' %>
                  <%= link_to "Message your agent!", offer_messages_path(offer), class: 'btn btn-primary'  %>
                <% end %>
                <% if offer.status == "completed" %>
                  <%= link_to "Leave a review", new_offer_review_path(offer), style: 'color: black'  %>
                <% end %>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>
</div>

