<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#In-Progress-Jobs" role="tab" aria-controls="pills-home" aria-selected="true">In Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#My-Active-Bids" role="tab" aria-controls="pills-profile" aria-selected="false">My Bids</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Past-Jobs" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">My Past Jobs</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
<!--   IN PROGRESS TAB -->
  <div class="tab-pane fade show active" id="In-Progress-Jobs" role="tabpanel" aria-labelledby="pills-home-tab">
    <h3>My In Progress Jobs</h3>
       <% @offers.each do |offer| %>
        <p><%= offer.price %></p>
        <p><%= offer.job_listing.title %></p>
        <p><%= offer.job_listing.description %></p>
        <% offer.job_listing.services.each do |service| %>
          <p><%= service.category %></p>
        <% end %>
        <% if offer.status != "completed" %>
          <%= link_to "complete?", complete_offer_path(offer), method: "patch", style: 'color: black'  %>
        <% end %>
      <% end %>

  </div>

<!--   AGENT BIDS TAB -->
  <div class="tab-pane fade" id="My-Active-Bids" role="tabpanel" aria-labelledby="pills-profile-tab">
      <h3>My Active Bids</h3>
      <p>List of bids that I've Submitted!</p>
  </div>

<!--   Past Jobs -->
  <div class="tab-pane fade" id="Past-Jobs" role="tabpanel" aria-labelledby="pills-contact-tab">
    <h3>Past Jobs</h3>
    <p>ALl the jobs that I have completed!</p>
  </div>
</div>

<%= link_to "View Jobs", job_listings_path, class: "btn btn-warning" %>

<a class="btn btn-warning" href="/" >Home Page</a>
