<div class="home-body">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url('<%= asset_path("Agent_and_Client.jpg")%>')">
    <div class="container">
      <h1>The <strong>future</strong> of real estate services!</h1>
      <div class="banner-text"><p>Zero Comission   |  No Contracts  |  Zero Pressure</p></div>
      <a class="btn btn-warning" href="#">How it Works</a>
      <a class="btn btn-warning" <%= link_to "View Services", services_path %> </a>
    </div>
  </div>

  <div class="home-page-info" >
    <div class="row justify-content-md-center">
      <div class="col" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('<%= asset_path("2Men_Working.jpg")%>')">
      </div>
      <div class="col">
        <h3 id="home-headder">Selling your home, simplified</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi exercitationem, dicta quod vel accusantium doloribus nobis voluptates.</p>
        <p>Quis minus est eius, corrupti facere accusamus magnam, quos voluptate error incidunt facilis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi exercitationem, dicta quod vel accusantium doloribus nobis voluptates. Quos voluptate error incidunt facilis.</p>
      </div>
    </div>
  </div>


  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("House15.jpeg")%>')">
      <h3>List Your Home</h3>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("Stage.jpg")%>')">
      <h3>Staging</h3>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("contract.jpg")%>')">
      <h3>Contracts</h3>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("Chart.jpg")%>')">
      <h3>Home Value Estimate</h3>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("Photographer2.jpg")%>')">
      <h3>Photography</h3>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path("Negotiation.jpg")%>')">
      <h3>Negotiations</h3>
    </div>
</div>
</div>


