<ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#My-Job-Listings" role="tab" aria-controls="pills-home" aria-selected="true">My Job Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#Jobs-In-Progress" role="tab" aria-controls="pills-profile" aria-selected="false">Jobs in Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Past-Jobs" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">My Past Jobs</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
<!--   JOB LISTINGS TAB -->
 <div class="tab-pane fade show active" id="My-Job-Listings" role="tabpanel" aria-labelledby="pills-home-tab">
    <div id="My-Job-Listings" class="">
      <h3>My Job Listings</h3>
        <% @job_listings.each do |job_listing| %>
          <div class=“card-agentJobListingPhoto”>
          <%= cl_image_tag job_listing.photos[0].key%>
            <div class=“card-dashboard-infos”>
              <h2><%= job_listing.title %></h2>
              <p><%= job_listing.address %></p>
              <p><%= job_listing.description %></p>
              <p>created : <%= job_listing.created_at %> last update:<%= job_listing.updated_at %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>

<!--   JOB PROGRESS TAB -->
  <div class="tab-pane fade" id="Jobs-In-Progress" role="tabpanel" aria-labelledby="pills-profile-tab">
      <h3>Jobs In Progress</h3>
      <p>List of jobs that agents are working on!</p>
  </div>


<!--   Past Jobs -->
  <div class="tab-pane fade" id="Past-Jobs" role="tabpanel" aria-labelledby="pills-contact-tab">
    <h3>Past Jobs</h3>
    <p>ALl the jobs that are completed!</p>
  </div>
</div>

<%= link_to "Home page", root_path  %>


<% @job_listings.each do |job| %>
  <p><%=  job.title %></p>
  <h1>See the offers</h1>
  <% job.offers.each do |offer| %>
    <p><%= offer.price %></p>
    <p><%= offer.agent.company_name %></p>
    <p><%= offer.status %></p>
    <% if offer.status == 'pending' %>
      <%= link_to "accept", accept_offer_path(offer), method: "patch", style: 'color: black'  %>
      <%= link_to "reject", reject_offer_path(offer), method: "patch", style: 'color: black'  %>
    <% end %>
  <% end %>
<% end %>
